<%- include('partials/header.ejs') %>

<h1>UK Police Crime Data</h1>
<p>Enter a crime category, date (YYYY-MM), and postcode to get crime data.</p>
<p>
  Valid crime categories: <br />
  <%= categories.join(', ') %>
</p>

<form action="/crime-data" method="POST">
  <input type="text" name="category" placeholder="Enter crime category" />
  <input type="text" name="date" id="date" placeholder="Enter date (YYYY-MM)" />
  <input type="text" name="postcode" placeholder="Enter postcode" />
  <button type="submit">Get Crime Data</button>
</form>

<p><% if(locals.data){ %></p>
<ul>
  <% locals.data.forEach(crime => { %>
  <li>
    Crime Category: <%= crime.category %>
    <ul>
      <li>Location: <%= crime.location.street.name %></li>
      <li>Date: <%= crime.date %></li>
      <li>
        Outcome: <%= crime.outcome_status ? crime.outcome_status.category: 'No outcome' %>
      </li>
      <li>Location Type: <%= crime.location.type %></li>
    </ul>
  </li>
  <br />
  <% }); %>
</ul>

<div id="error">
  <% } %> <% if(locals.error){ %>
  <p><%= error %></p>
  <% } else if(locals.data && locals.data.length === 0) { %>
  <p>No Data Found</p>

  <% } %>
</div>

<%- include('partials/footer.ejs') %>
