<%- include('partials/header.ejs') %>

<h1>UK Police Crime Data</h1>
<p>Enter a crime category, date (YYYY-MM), and postcode to get crime data.</p>
<p>
  Valid crime categories: <br />
  <%= categories.join(', ') %>
</p>

<form id="crime-data-form" action="/crime-data" method="POST">
  <label for="category">Choose a crime category:</label>
  <select name="category" id="category" required>
    <option value="" disabled selected>Select a category</option>
    <% categories.forEach(category => { %>
    <option value="<%= category %>"><%= category %></option>
    <% }); %>
  </select>
  <label for="date">Enter date (YYYY-MM):</label>
  <input type="month" id="date" name="date" min="2020-03" required />
  <label for="postcode">Enter postcode:</label>
  <input
    type="text"
    name="postcode"
    id="postcode"
    placeholder="e.g. SW1A 1AA"
  required/>
  <button type="submit">Get Crime Data</button>
</form>

<% if(locals.data){ %>
<ul>
  <% locals.data.forEach(crime => { %>
  <li>
    Crime Category: <%= crime.category %>
    <ul>
      <li>Location: <%= crime.location.street.name %></li>
      <li>Date: <%= crime.date %></li>
      <li>
        Outcome: <%= crime.outcome_status ? crime.outcome_status.category: 'No outcome' %>
      </li>
      <li>Location Type: <%= crime.location.type %></li>
    </ul>
  </li>
  <br />
  <% }); %>
</ul>

<div id="error">
  <% } %> <% if(locals.error){ %>
  <p><%= error %></p>
  <% } else if(locals.data && locals.data.length === 0) { %>
  <p>No Data Found</p>

  <% } %>
</div>

<%- include('partials/footer.ejs') %>
